.navigation-wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;

  .welcome-user {
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
    }
  }

  .search-container {
    width: 25rem;
    margin-bottom: 0;
  }

  .search-box {
    padding: 16px;
  }

  .actions {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 40px;
    }

    :first-child {
      margin-left: 0;
    }

    .add-project {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 14rem;

      span {
        font-size: 14px;
        margin-left: 8px;
      }
    }
  }
}
