@import "src/assets/_variables.scss";

.chat-container {
  width: 100%;

  .chat-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;

    .message {
      width: 31.4rem;
      border-right: 2px solid $light-grey;
      padding: 4rem 3.2rem 3.2rem 3.2rem;
      height: 100%;
      position: relative;

      .message-item {
        img {
          margin-right: 10px;
        }
      }
    }

    .chatbox {
      flex-grow: 1;
      position: relative;

      .chat-header {
        padding: 4rem;

        .chat-user {
          img {
            margin-right: 16px;
          }
        }

        .header-options {
          & > * {
            margin-right: 24px;
          }

          :last-child {
            margin-right: 0;
          }
        }
      }

      .chat-body {
        padding: 2.4rem 4rem 3.2rem 4rem;

        height: calc(100% - 280px);
        overflow: hidden;
        overflow-y: scroll;

        .time {
          letter-spacing: 1px;
          margin-bottom: 2.4rem;
        }

        .messages {
          & > * {
            margin-top: 8px;
            width: 100%;
          }

          :first-child {
            margin-top: 0;
          }

          .message-item {
            display: flex;
            flex-direction: row;

            &.mt-24 {
              margin-top: 2.4rem;
            }
          }

          .self {
            justify-content: flex-end;
          }

          .media {
            padding: 0;
            position: relative;
            box-sizing: border-box;

            .attachment {
              padding: 0;
              background-color: transparent;

              :nth-child(2) {
                position: absolute;
                top: 16px;
                right: 16px;
              }
            }
          }

          .msg {
            width: fit-content;
            max-width: 60%;
            padding: 1.4rem 1.6rem;

            border-radius: 16px;
            padding: 1.4rem 1.6rem;
            font-size: 14px;
            font-weight: 400;

            &.right-block {
              background-color: $light-blue;
            }

            &.left-block {
              background-color: $cool-grey;
            }
          }
        }
      }

      .chat-footer {
        position: absolute;
        width: 100%;
        bottom: 3.2rem;
        width: calc(100% - 4.8rem);
        margin-left: 2.4rem;

        padding: 1.2rem 2.4rem 1.6rem 1.6rem;

        gap: 16px;

        .comment-input {
          margin: 0;

          input {
            padding: 0;
            background-color: transparent;
            border: none;
            font-size: 14px;
            line-height: normal;
            padding: 1rem 0;
          }
        }

        .input-option {
          :first-child {
            margin-right: 2.4rem;
          }
        }
      }
    }

    .add-message {
      position: absolute;
      bottom: 3.2rem;
      width: -webkit-fill-available;
      margin-right: 3.2rem;
    }
  }
}

.chat-sidebar-items {
  & > * {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .chat-sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    color: $chinese-black;
    font-size: 1.4rem;
    font-weight: 700;

    padding-right: 16px;
    padding-left: 16px;

    font-weight: 500;
  }
}
