.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 2.4rem;
}

.teams-wrapper {
  height: fit-content;
  grid-auto-rows: 1fr;

  .title {
    margin-bottom: 2.6rem;
  }
}

.projects-wrapper {
  flex-grow: 1;
  grid-auto-rows: 1fr;
  padding-bottom: 1.8rem;

  .title {
    margin-bottom: 2.6rem;
  }

  .tag-container {
    gap: 16px;
    margin-top: 1.6rem;
    margin-bottom: 3rem;
  }
}
