@import "src/assets/_variables.scss";

.card {
  border-radius: 16px;
  padding: 2.4rem;

  &-xl {
    padding: 4.8rem;
  }

  &-lg {
    padding: 2.4rem;
  }

  &-md {
    padding: 1.6rem;
  }

  &-sm {
    padding: 0.8rem;
  }

  &-grey {
    background-color: $light-grey;
    border-color: $light-grey;
  }

  &.no-right-radius {
    border-radius: 16px 0 0 16px;
  }
}
