@import "src/assets/_variables.scss";

.sidebar-wrapper {
  & > * {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  :first-child {
    padding-top: 0;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

    color: $chinese-black;
    font-size: 1.4rem;
    font-weight: 700;

    svg {
      margin-right: 16px;
      path {
        fill: $dark-grey;
      }
    }

    &.active {
      color: $science-blue;

      svg {
        path {
          fill: $science-blue;
        }
      }
    }
  }
}

.team-wrapper {
  position: absolute;
  bottom: 40px;
  width: 20.2rem;

  .team {
    margin: 1.6rem 0;
    position: relative;
    .team-logo {
      margin-right: 1rem;
      // .dot {
      //   position: absolute;
      //   bottom: 3px;
      //   right: 0;
      // }
    }
  }
}
