@import "src/assets/_variables.scss";

.sidebar-wrapper {
  & > * {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  :first-child {
    padding-top: 0;
  }

  .sidebar-item {
    display: flex;
    align-items: center;
    cursor: pointer;

    color: $chinese-black;
    font-size: 1.4rem;
    font-weight: 700;

    svg {
      margin-right: 16px;
      path {
        fill: $dark-grey;
      }
    }

    &.active {
      color: $science-blue;

      svg {
        path {
          fill: $science-blue;
        }
      }
    }
  }
}
