$primary-black: #1d191f;
$chinese-black: #171717;

$primary-white: #ffffff;
$chinese-white: #e0e0e0;

$light-grey: #8f92a10d;
$dark-grey: #8f92a1;
$cool-grey: #8f92a121;
$primary-dark-grey: #979797;
$grey: #f3f6f8;

$science-blue: #0052cc;
$dark-blue: #054cb5;
$light-blue: #0052cc0d;

$c-red: #eb5757;
$dark-red: #de350b;
$-light-red: #de350b33;

$c-yellow: #ff991f;
$c-light-yellow: #ff991f33;
