$chinese-black: #171717;
$chinese-white: #e0e0e0;
$light-grey: #8f92a10d;
$dark-grey: #8f92a1;
$science-blue: #0052cc;
$c-red: #eb5757;
$iron-grey: #cfd0d3;
$primary-white: #ffffff;
$primary-black: #1d191f;
$cool-grey: #8f92a121;
