/* 
  ================ H1 to H6 font size ==============
  header: desktop | tablet | mobile (default in px)
  h1: 34 | 34 | 24
  h2: 30 | 24 | 18
  h3: 24 | 24 | 18
  h4: 20 | 18 | 18
  h5: 18 | 16
  h6: 16
*/

/* 
  1rem = 16px by default
  Here, changing the default rem calculation for easy calculation
  Modified: 1rem = 10px <=> 1px = 0.1rem
*/

:root {
  /* 
   Usually default font-size of the browser is 16px. 
   Setting font-size: 100% will make 1rem = 16px. 
   But it will make calculations a little difficult. 
   A better way is to set font-size: 62.5%. 
   Because 62.5% of 16px is 10px. Which makes 1rem = 10px.
  */
  font-size: 62.5%;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: var(--blue-b-100, #0052cc);
}

.form-container {
  border-radius: 48px;
  background: var(--white-w-100, #fff);
  box-shadow: 80px 120px 504px 0px rgba(0, 0, 0, 0.16);

  /* min-width: 36rem; */
  width: 36rem;
  padding: 4rem 3.2rem;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-flex-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.grey-font {
  color: #8f92a1;
}

.cursor-pointer {
  cursor: pointer;
}

.input-icon-wrapper {
  position: relative;
}

.input-icon-wrapper .icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Common title classes based on font-size and font-weight*/
.title_1 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #171717;
}

.title_2 {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  color: #171717;
}

.title_3 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  color: #171717;
}

.title_4 {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #171717;
}

.grey-font {
  color: #8f92a1;
}

/* Grid classes */
.grid-container {
  display: grid;
  grid-gap: 4rem;
}

.three-col-grid {
  grid-template-columns: repeat(3, 1fr);
}

.add-action-card {
  cursor: pointer;
}

.add-action-card svg {
  margin-right: 8px;
}

.add-action-card svg path {
  fill: #171717;
}

.plus-icon {
  fill: #8f92a1;
}

.plus-icon path {
  fill: #8f92a1;
}

ul {
  padding: 0;
  list-style-type: none;
}

.title-letter-spacing {
  letter-spacing: 1px;
}
